SECRET_KEY_BASE=replace-with-output-from-openssl-rand-base64-48
KEILA_DB_PASSWORD=replace-with-a-long-random-password
SES_SMTP_USER=replace-with-aws-ses-smtp-user
SES_SMTP_PASSWORD=replace-with-aws-ses-smtp-password
MAILER_SES_CONFIGURATION_SET=pidro-main
